body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Share Social Icons -------
.sci-telegram {
  color: $color-telegram !important
}
.sci-facebook {
  color: $color-facebook !important
}
.sci-email {
  color: $color-email !important
}
.sci-linkedin {
  color: $color-linkedin !important
}
.sci-twitter {
  color: $color-twitter !important
}
.sci-instagram {
  color: $color-instagram !important
}
.sci-stackoverflow {
  color: $color-stackoverflow !important
}

